body{
    font-family: Roboto;
    background-color: rgb(0, 0, 0);
    color: rgb(251, 249, 245);
        
}
h1,h2,h3,h4,h5,h6{
    font-family: Lobster;
    text-align: center;
}
h1{
    font-size: 50pt;
}

/* header section*/
header{
    text-align: center;
}
/* hero and footer section*/
#hero,footer{
    text-align: center;
    background-color: cadetblue;
    text-align: center;
    border:2px solid white;
    padding:10px;
}
/* hero section*/
#hero img{
    width: 300px;
    padding: 10px;
}
/* bio section*/
#bio{
    text-align: center;
}
/* hobbie section*/
#Hobbies ul li:nth-child(even){
    color: yellow;
    
}
#Hobbies ul li:nth-child(odd){
    color: red;
    
}
/* gallery section*/
#Gallery {
    border: 2px solid white;
}

#Gallery img{
    max-width: 100%;
}

#Gallery figure{
    text-align: center;
}
/* Litreture*/
#lit{
    border: 2px solid white;
    margin-bottom: 2rem;
}

#lit div{
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p:nth-child(3n+1):first-letter {
   color:green;
   background-image: radial-gradient(orange);
   float: left;
   font-size: 30pt;
   padding: 0.25em;
   margin-right: 0.25em;
   line-height:0.65;
   border:4px outset lightblue;
   text-shadow: 2px 2px 3px white;
   border-top-left-radius: .2em;
   border-bottom-right-radius: .2em;

}




