body{
    font-family: Roboto;
    background-color: rgb(0, 0, 0);
    color: rgb(251, 249, 245);
        
}
h1,h2,h3,h4,h5,h6{
    font-family: Lobster;
    font-size: 50pt;
}

header{
    text-align: center;
}

#hero,footer{
    text-align: center;
    background-color: cadetblue;
    text-align: center;
    border:2px solid white;
    padding:10px;
}
#hero img{
    width: 300px;
    padding: 10px;
}
#bio{
    text-align: center;
}

